* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;


}



/* HEAD */
body{
    font-family: Arial, Helvetica, sans-serif;


}

.head{
    width: 100vw;
    height: 80vh;
    margin-bottom: 2rem;
    display: inline-block;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    background: transparent;
	border-bottom: 10rem solid transparent;
	border-right: 22.55rem solid #707070;


}






.text{
    width: 100vw;
    height: 38vh;
    padding: 4rem 1rem 0rem 1rem;


}

.text h1{

    text-align: left;
    font-size: 2.3rem;
    line-height: 49px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-bottom: 1rem;


}



.text p {


    line-height: 24px;
    font-size:.9rem;
    font-weight: normal;

    color: #FFFFFF;


}

.head button {
    width: 40vw;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #888888;
    height: 8vh;
}

.buttons{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;


}

button{

    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

}

/* HEAD */

/* AJUDE O ALGORITMO */

.main{

    margin: 1rem;
    display: block;
    justify-content: center;

}

.help h4{

    font-size: 1.3rem;
    color: #888888;

    margin: auto;
}

.help p {
    color: #888888;
    font-size: .9rem;
    text-align: justify;

}

.help{
    margin-bottom: 2rem;

}

.form h4{
    color: #707070;
    font-weight: normal;
    margin-left: .5rem;
}
.form input{
    margin: .7rem .2rem;
    width: 90vw;

    display: flex;
    justify-content: center;
    height: 5vh;
}

input#feminino{
    margin-left: .5rem;
}

input.button{
    height: 8vh;
    font-size: 1rem;
    background: white;
    color: #777777;
    border: 1px solid #777777;
    margin: 2rem auto;

}

.checkbox{
    margin-top: 1rem;
    display: flex;
    width: 55vw;
    align-items: center;
    align-content: center;
}


/* AJUDE O ALGORITMO */

/* SELECT */

.root{
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
}

.line{
    width: 100%;
    position: absolute;
    margin: 50px 0;
    height: .2vh;
    background: #888888;
    z-index: 0;

}

.title{
    z-index: 1;
    background: white;
    margin: -10px auto;
    height: 10vh;
    width: 60vw;
    align-items: center;
    text-align: center;
    position: relative;
    color: #777777;
    font-weight: normal;




}



/* SELECT */

/* Sua Seleçao especial*/

.row{
    display: flex;
    justify-content: center;


}


.col-md-4 {
    display: flex;
    align-items: center;

    margin: 1rem 1rem;
    height: 200px;
    max-height: 350px;
    background-color: white;

}
.card-img {
    height: 30vh;
    width: 100vw;


}

.card-body{
    width: 100%;
    display: block;
    margin: 2rem;
    color: #777777;
}

.name{
    font-size: .875rem;

    padding: .9rem auto;
}

.oldPrice{
    font-size: .7rem;
    padding-top: .5rem;
    padding-bottom: .9rem;
}

.price{
    font-size: 1rem;
    padding-bottom: .9rem;
    font-weight: bold;
}

.parcel{
    font-size: .7rem;
}

.buying{
    width: 100%;
    height:2.25rem;
    margin: 1rem 0;
    background: #ffffff;
    color: #777777;
    border: 1px solid #777777;
}

#next{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 15vh;
}

#next button{
    width: 60vw;
    color: #777777;
    border: 1px solid #777777;
    background: #FFFFFF;
    font-size: 1rem;
}

/* Sua Seleçao especial*/

/* Compartilhe a novidade */

.compartilhe{
    display: inline-block;
    justify-content: center;

}

.compartilhe p {
    color: #888888;
    font-size: .8rem;
    margin: 1rem;
    text-align: center;
}
.friend{
    margin-left: 1rem;
}
.compartilhe input{
    width: 90vw;
    height: 6vh;
}

.compartilhe h4{
    margin: 1rem auto;
    color: #888888;
    font-size: .8rem;
    font-weight: normal;
}

.compartilhe button{
    width: 60vw;
    height: 8vh;
    justify-self: center;
    margin: 2rem 4.5rem;
    background-color: #FFFFFF;
    border: 1px solid #888888;
    color: #888888;
    font-size: 1rem;
}

/* Compartilhe a novidade */

/*footer */

footer{

    height: 25vh;
    display: block;
    text-align: center;
    box-sizing: border-box;

    background: transparent;
    border-top: 4rem solid transparent;
    border-right: 24rem solid #777777;
}

.footer{

    color: #FFFFFF;
    width: 100vw;
    font-size: .8rem;
    margin-top: 1rem;


}

/*footer */
/* celuar de tela grande */
@media (min-width: 400px){

    .head{

        border-right: 29rem solid #777777;
    }
    .help{
        margin-right: 1rem;
    }

    input.button {
        margin-left: 0rem;
        width: 90vw;
    }

    .friend{
        margin-left: 0.5rem;
    }

    footer{
        width: 100%;
        border-right: 29rem solid #777777;
        margin-right: 200rem;
    }

    footer p {
       margin: 0;
    }
}

@media (min-width: 600px){

    .head{
        border-right: 39.3rem solid #777777;
    }

    .text{
        margin-bottom: 30px;
    }

    footer{
        height: 10rem;
        border-right: 39.3rem solid #777777;
    }

    .card-img{
        width: 30vw;
        height: 40vh;

    }

    .buying{
        width: 20vw;
    }

    .row{
        justify-content: center;
        justify-self: center;
        justify-items: center;

    }
    .card-body{
        width: 20vw;
    }
    .col-md-4{
        justify-content: center;
        margin-top: 4rem;

    }

}

@media (min-width: 800px){
    .head{
        border-right: 51.9rem solid #777777;
    }

    footer{
        border-right: 51.9rem solid #777777;
    }

    .friend{
     padding: 20px;
    }
    .button{
        padding-left: 90px;
    }
}


/* celuar de tela grande */
/* para Desktop */

 @media (min-width: 1100px) {

html{
    width: 100vw;
    overflow-x: hidden;
}
 .head{

    height: 55vh;
    width: 100%;
    margin: 0;

    border-bottom: 10rem solid transparent;
	border-right: 87em solid #707070;
 }

 .text{
     display: inline-block;
     justify-content: center;
     align-items: center;
     text-align: center;
     height: 25vh;
 }

 .text h1 {
     text-align: center;
     font-size: 3rem;
 }

 .text p {
     font-size: 1rem;
 }

 .buttons{
     display: flex;
     width: 100vw;
     justify-items: center;
     justify-content: center;
     justify-self: center;
     align-items: center;
 }

 .buttons button {
     width: 10vw;
 }

 body{
     width: 100%;
     display: inline-block;
     justify-content: center;
     justify-items: center;
     justify-self: center;

 }

 .main{
     display: flex;
     width: 100vw;
     justify-content: center;
 }
 .container{
     display: flex;
     width: 70%;


 }
 .col{
     width: 50vw;
     margin: 1.5rem;
 }

 .col input {
     width: 30vw;
 }
 input.button{
     width: 15vw;
     height: 8vh;
 }

 .checkbox{
     width: 15vw;
     margin-top: 2rem;
     height: .5vh;
 }

 /* SUA SELEÇÃO */

 .title{
     width: 25vw;
     font-size: 1.5rem;
     margin-top: -.9rem;
 }

 .line{
     width: 100%;
 }

.card-img{
    width: 50vw;
    max-height: 200px;
    margin-bottom: -10px;
}


#row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5rem;
    flex-direction: row;
    justify-content: center;
  }
  .buying{
      width: 60%;
  }

  .col-md-4{
    height: 30%;
    display: block;
    max-width: 20%;


  }

  .card-body{
      width: 20vw;
  }

  .card-img{
      width: 50%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px;
  }

    #next button{
    width: 20vw;
  }



 /* SUA SELEÇÃO */


 /* COMPARTILHE */

 .compartilhe{

     width: 100vw;
     display: inline-block;


 }
 .friend{
     display: flex;
     justify-content: center;
     margin: 2rem;

 }
.friend input{
    width: 350px;
    margin-left: 3rem;

}

.friend h4 {
    margin-left: 3rem;
}

.button{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 1.5rem;
}

.compartilhe button{
    width: 20vw;
}

 /* COMPARTILHE */

/*footer */

footer{
    width: 10vw;
height: 25vh;


background: transparent;
border-top: 4rem solid transparent;
border-right: 84.5rem solid #777777;
}


/*footer */



 }