* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;

}

/* HEAD */
body{
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    width: 100vw;
    height: 80vh;
    margin-bottom: 2rem;
    display: inline-block;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    background: transparent;
	border-bottom: 10rem solid transparent;
	border-right: 22.55rem solid #707070;


}






.text{
    width: 100vw;
    height: 38vh;
    padding: 4rem 1rem 0rem 1rem;


}

.text h1{

    text-align: left;
    font-size: 2.3rem;
    line-height: 49px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    padding-bottom: 1rem;


}



.text p {


    line-height: 24px;
    font-size: .7rem;
    font-weight: normal;

    color: #FFFFFF;


}

.head button {
    width: 40vw;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #888888;
    height: 8vh;
}

.buttons{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-content: center;


}

button{

    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;

}

/* HEAD */

/* AJUDE O ALGORITMO */

.main{

    margin: 1rem;
    display: block;
    justify-content: center;

}

.help h4{

    font-size: 1.3rem;
    color: #888888;

    margin: auto;
}

.help p {
    color: #888888;
    font-size: .9rem;
    text-align: justify;

}

.help{
    margin-bottom: 2rem;

}

.form h4{
    color: #707070;
    font-weight: normal;
    margin-left: .5rem;
}
.form input{
    margin: .7rem .2rem;
    width: 90vw;

    display: flex;
    justify-content: center;
    height: 5vh;
}

input#feminino{
    margin-left: .5rem;
}

input.button{
    height: 10vh;
    background: white;
    border: 1px solid #777777;
    margin: 2rem auto;

}

.checkbox{
    margin-top: 1rem;
    display: flex;
    width: 55vw;
    align-items: center;
    align-content: center;
}


/* AJUDE O ALGORITMO */

/* SELECT */

.root{
    display: flex;
    justify-content: center;
    margin-bottom: 7rem;
}

.line{
    width: 100%;
    position: absolute;
    margin: 50px 0;
    height: .2vh;
    background: #888888;
    z-index: 0;

}

.title{
    z-index: 1;
    background: white;
    margin: -10px auto;
    height: 10vh;
    width: 60vw;
    align-items: center;
    text-align: center;
    position: relative;
    color: #777777;
    font-weight: normal;




}



/* SELECT */

/* Sua Seleçao especial*/

.row{
    display: flex;

}


.col-md-4 {
    display: flex;
    align-items: center;

    margin: 1rem auto;
    height: 200px;
    max-height: 350px;
    background-color: white;

}
.card-img {
    height: 30vh;
    width: 100vw;


}

.card-body{
    width: 100%;
    display: block;
    margin: 2rem;
    color: #777777;
}

.name{
    font-size: .875rem;

    padding: .9rem auto;
}

.oldPrice{
    font-size: .7rem;
    padding-bottom: .9rem;
}

.price{
    font-size: 1rem;
    padding-bottom: .9rem;
}

.parcel{
    font-size: .7rem;
}

.buying{
    width: 100%;
    height:2.25rem;
    margin: 1rem 0;
    background: #ffffff;
    color: #777777;
    border: 1px solid #777777;
}

/* Sua Seleçao especial*/

/* Compartilhe a novidade */

.compartilhe{
    display: inline-block;
    justify-content: center;
    justify-self: center;
    justify-items: center;
  
}

.compartilhe p {
    color: #888888;
    font-size: .8rem;

    text-align: center;
}
.compartilhe input{
    width: 90vw;
    height: 6vh;
}

.compartilhe h4{
    margin: 1rem auto;
    color: #888888;
    font-size: .8rem;
    font-weight: normal;
}

.compartilhe button{
    width: 60vw;
    height: 8vh;
    justify-self: center;
    margin: 2rem 4rem;
    background-color: #FFFFFF;
    border: 1px solid #888888;
    color: #888888;
    font-size: 1rem;
}

/* Compartilhe a novidade */

/*footer */

footer{

    height: 25vh;
    display: block;
    text-align: center;


    background: transparent;
    border-top: 4rem solid transparent;
    border-right: 22.5rem solid #777777;
}

.footer{

    color: #FFFFFF;
    width: 100vw;
    font-size: .8rem;
    margin-top: 1rem;




/*footer */